#one{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20vh;
    width: 100vw;
    background-color:rgb(250, 199, 123);
    border: 3px solid black;
}
#img1{
    position: relative;
    height: 15vh;
    width:28vw ;
    margin: 15px;
    border: 2px solid black;
}
#heading1{
    position: absolute;
    top: -2vh;
    left: 39vw;
    height: 12vh;
    width: 50vw;
    border: 2px solid  black;
    background-color: #fff;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 3px;
}
#heading2{
    position: relative;
    top: -8.4vh;
    left: 41vw;
    height: 3vh;
    width: 46vw;
    border: 2px solid  black;
    background-color: #fff;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2px;
}